.square {
  display: flex;
  background: #00bc1c;
  color: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 16px;
  text-align: center;
}

.square-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 18px;
  color: #00bc1c;
  font-weight: 500;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btnreset {
  padding: 8px;
  background-color: #00bc1c;
  border-radius: 4px;
  border: solid 1px #000;
  margin-top: 50px;
  cursor: pointer;
  color: #fff;
}

.btnreset:hover {
  background-color: rgb(15, 133, 0);
}

.square {
  width: 100px;
  height: 100px;
  border: 1px solid rgb(107, 107, 107);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
}

.App-header {
  color: #00bc1c;
}
